
$desktop: 1024px;
$tablets: 790px;
$phone: 550px;



@mixin desktop {
    @media screen and (max-width: $desktop){
        @content;        
    }
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;        
    }
}
@mixin phone {
    @media screen and (max-width: $phone) {
        @content;        
    }
}

// DESKTOP

@include desktop(){
    .about{
        &__container{
            .content{
                order: 1;
                flex: 0 0 100% !important;
                margin: 50px 0;
            }

            .container_image{
                order: 0;
                flex: 0 0 100% !important;
                margin: 50px 0;
            }
        }
    }

    .icons{
        width: 100% !important;
    }
} 

// TABLETS
@include tablets(){
    .card{
        width: 45% !important;
    }
}


//PHONE
@include phone(){
    .card{
        width: 100% !important;
    }

    .footer{
        &__container{
            grid-template-columns: 1fr !important;
        }
    }
}